div.jp-InputPrompt,
div.jp-OutputPrompt {
    display:none !important;
}

.md-typeset table:not([class]) th {
    text-align: center !important;
}

.jp-InputPrompt, .jp-OutputPrompt {
    display: none !important;
}

.jupyter-wrapper {
    clear: both;
}

.jp-InputArea.jp-Cell-inputArea {
    margin-bottom: 1em;
}

.jp-Cell.jp-CodeCell.jp-Notebook-cell {
    margin-top: 0;
    padding-top: 0;
}

.dataframe, .dataframe th, .dataframe td {
    border: none;
}

.dataframe {
    font-size: 0.9em;
    margin: 0 auto !important;
}

.dataframe th {
    font-weight: bold;
}

.dataframe th, .dataframe td {
    padding: 7px;
}

.dataframe thead th {
    border-bottom: 2px solid black;
}

.dataframe tbody tr:nth-child(odd) {
    background: #f5f5f5;
}


/* .jp-OutputArea-child .jp-RenderedText.jp-OutputArea-output.jp-OutputArea-executeResult {
    display: none;
} */

.jupyter-wrapper .zeroclipboard-container clipboard-copy {
    cursor: pointer !important;
}

.jp-Cell.jp-CodeCell.jp-Notebook-cell.jp-mod-noOutputs:last-child {
    display: none;
}

.celltag_hidden {
    display: none;
}

div[data-mime-type='application/vnd.jupyter.stderr'] {
    display: none;
}

pre code {
    white-space: pre-wrap;
}